html {
    height: 100%;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    font-size: 200%;
    padding: 0.5em;
    font-weight: bolder;
    float:left;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    font-size: 130%;
    margin-bottom: 1em;
    font-weight: bold;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    font-size: 100%;
    margin-bottom: 1em;
    font-weight: bold;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    font-size: 100%;
    margin-bottom: 1em;
    color: #000000;

}
body {
    background-color: #ffffff;
    height: 100%;
}

input {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
}

ul.menu {
    font-family: "Liberation Sans", sans-serif;
    text-align: left;
    font-size: 100%;
    list-style-type: none;
    display:inline;

}

ul.recipes {
    font-family: "Liberation Sans", sans-serif;
    text-align: left;
    font-size: 100%;
    list-style-type: none;
    position: relative;
    left: 0;
    padding: 0;
    display:inline;

}

li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:100%;
}


li a {
    display: block;
    color: #000;
    background-color: #b0b0b0;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4a932f;
    color: white;
    text-decoration: underline;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

li b {
    display: block;
    color: #000;
    background-color: #848484;
    padding: 8px 16px;
    text-decoration: none;
}

ul.ingredients {
    text-align: left;
    font-size: 100%;
    list-style-type: disc;
    padding-bottom: 1em;
    padding-left: 2em;
}

img.recipe{
    float: right;
    height: 35%;
    width: 35%;
}

img.calendar {
    display: block;
    height: 80%;
    width: 80%;

}

.header {
    display: block;
    overflow: hidden;
}

.login {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    float: right;
    padding: 1.5em;
    text-align: center;
}

.sidebar {
    float:left; display:inline; width: 10%;
    min-width: 8em;
    height: 100%;

}

.content {
    float:left;
    display:inline;
    width: 80%;
    margin: 1em;
}

.sideimage {
    text-align: center;
    padding-top: 3em;
}

.commentsection {
    float:left;
    display:inline;
    width: 60%;
}

.comment {
    border: #7a797c;
    border-width: 2px;
    border-style: solid;
    background-color: #c8c8c8;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em
}

.comment form {
    float: right;
}

.calendar {
    width: 100%;
}

.calendarweek {
    width: 100%;
}

.calendarday {
    padding: 0.5em;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    display: inline-block;
    width: 10%;
    height: 5em;

}

